<%- include('./layouts/main.ejs'); %>
<%- include('partials/header.ejs'); %>

<div class="invisible">No more people to show</div>
<img class="girl" src="<%- firstUser.img %>" alt="Girl eating McDonalds">
<h3><%= firstUser.name %></h3>
<p class="info"> <%- firstUser.age %>, <%- firstUser.residence %></p>
<div class="formulier">
  <%- include('partials/form.ejs'); %>
</div>