<%- include('./layouts/main.ejs'); %>
<%- include('partials/header.ejs'); %>

<img class="girl" src="/static/images/girl-mc.jpg" alt="Girl eating McDonalds">
<h3><%= people[testID].name %></h3>
<p class="info"> <%- people[testID].age %>, <%- people[testID].residence %> </p>
<div class="formulier">
    <%- include('partials/form.ejs'); %>
</div>



