<%- include('./layouts/main.ejs'); %>
<%- include('partials/header.ejs'); %>

<h3>These are the people you liked</h3>
<p>If you don't like someone anymore, you can delete them.</p>

<ul>
    <% likedPeople.forEach(function(likedPeople) { %>
        <li>
            <img src="<%= likedPeople.img %>">
            <div>
                <h4><%= likedPeople.name %></h4>
                <p><%= likedPeople.age %>, <%= likedPeople.residence %></p>
                <p>Favorite product: <%= likedPeople.product %></p>
            </div>
            <%- include('./partials/dislike-form.ejs', { userID: likedPeople.id})%>
        </li>
    <% }); %>
</ul>

