{{> header}}

<h3>You liked these people</h3>
<p>If you don't like someone anymore, you can delete them.</p>

<ul>
    <li>
        <img src="/static/images/girl-mc.jpg" alt="">
        <div>
        <h4>{{ people.0.name }}</h4>
        <p> {{ people.0.age }}, {{ people.0.residence }}</p>
        <p>Lievelingsproduct: {{ product.0.option }}</p>
        </div>
    </li>
    <li>
        <img src="/static/images/man-cheeseburger.jpg" alt="">
        <div>
        <h4>{{ people.1.name }}</h4>
        <p> {{ people.1.age }}, {{ people.1.residence }}</p>
        <p>Lievelingsproduct: {{ product.1.option }}</p>
        </div>
    </li>
    <li>
        <img src="/static/images/girl-cheeseburger.jpg" alt="">
        <div>
        <h4>{{ people.2.name }}</h4>
        <p> {{ people.2.age }}, {{ people.2.residence }}</p>
        <p>Lievelingsproduct: {{ product.1.option }}</p>
        </div>
    </li>
    <li>
        <img src="/static/images/woman-burger.jpg" alt="">
        <div>
        <h4>{{ people.3.name }}</h4>
        <p> {{ people.3.age }}, {{ people.3.residence }}</p>
        <p>Lievelingsproduct: {{ product.0.option }}</p>
        </div>
    </li>
    <li>
        <img src="/static/images/girl-bigmac.jpg" alt="">
        <div>
        <h4>{{ people.4.name }}</h4>
        <p> {{ people.4.age }}, {{ people.4.residence }}</p>
        <p>Lievelingsproduct: {{ product.2.option }}</p>
        </div>
    </li>
    <li>
        <img src="/static/images/girl-mc.jpg" alt="">
        <div>
        <h4>{{ people.5.name}}</h4>
        <p> {{ people.5.age }}, {{ people.5.residence }}</p>
        <p>Lievelingsproduct: {{ product.0.option }}</p>
        </div>
    </li>
</ul>