<%- include('./layouts/main.ejs'); %>
<%- include('partials/header.ejs'); %>

<h3>These are the people you liked</h3>
<p>If you don't like someone anymore, you can delete them.</p>

<ul>
    <% liked.forEach(function(liked) { %>
        <li>
            <img src="<%= liked.img %>">
            <div>
                <h4><%= liked.name %></h4>
                <p><%= liked.age %>, <%= liked.residence %></p>
                <p>Favorite product: <%= liked.product %></p>
            </div>
            <%- include('./partials/dislike-form.ejs', { userID: liked.id})%>
        </li>
    <% }); %>
</ul>

