<%- include('./layouts/main.ejs'); %>
<%- include('partials/header.ejs'); %>

<h3>You liked these people</h3>
<p>If you don't like someone anymore, you can delete them.</p>

<ul>
    <% liked.forEach(function(liked) { %>
        <li>
            <img src="<%= liked.img %>">
            <div>
                <h4><%= liked.name %></h4>
                <p><%= liked.age %>, <%= liked.residence %></p>
                <p>Favorite product: <%= liked.product %></p>
            </div>
            <img id="img-delete" src="/static/images/delete.svg" alt="">
        </li>
    <% }); %>
</ul>

