{{> header}}

<h3>You liked these people</h3>
<p>If you don't like someone anymore, you can delete them.</p>

<ul>
    <li>
        <img src="/static/images/girl-mc.jpg" alt="">
        <div>
        <h4>{{ people.0.name }}</h4>
        <p> {{ information.0.info }}</p>
        <p>Lievelingsproduct: {{ product.0.option }}</p>
        </div>
    </li>
    <li>
        <img src="/static/images/man-cheeseburger.jpg" alt="">
        <div>
        <h4>{{ people.1.name }}</h4>
        <p> {{ information.1.info }}</p>
        <p>Lievelingsproduct: {{ product.1.option }}</p>
        </div>
    </li>
    <li>
        <img src="/static/images/girl-cheeseburger.jpg" alt="">
        <div>
        <h4>{{ people.2.name }}</h4>
        <p> {{ information.2.info }}</p>
        <p>Lievelingsproduct: {{ product.1.option }}</p>
        </div>
    </li>
    <li>
        <img src="/static/images/woman-burger.jpg" alt="">
        <div>
        <h4>{{ people.3.name }}</h4>
        <p> {{ information.3.info }}</p>
        <p>Lievelingsproduct: {{ product.0.option }}</p>
        </div>
    </li>
    <li>
        <img src="/static/images/girl-bigmac.jpg" alt="">
        <div>
        <h4>{{ people.4.name }}</h4>
        <p> {{ information.4.info }}</p>
        <p>Lievelingsproduct: {{ product.2.option }}</p>
        </div>
    </li>
    <li>
        <img src="/static/images/girl-mc.jpg" alt="">
        <div>
        <h4>{{ name }}</h4>
        <p> {{ info }}</p>
        <p>Lievelingsproduct: {{ product.0.option }}</p>
        </div>
    </li>
</ul>